.homepage {

  &._block {
    display: flex;
    padding: 25px 15px 0;
  }

  &._block-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 458px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  &._flex-item {
    width: 210px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-right: 4px;

    &:before {
      left: 0;
      right: 0;
      bottom: 0;
      height: 3px;
      content: '';
      z-index: -1;
      position: absolute;
      background: rgba(0, 0, 0, 0);
      transition: all 3s ease;
    }

    &:hover {
      &:before {
        background: linear-gradient(135deg, #F37055 0%, #EF4E7B 52%, #C55B95 77%, #A166AB 100%);
      }
    }
  }
  &._item-anchor {

  }
  &._item-img {
    display: block;
  }
  &._flex-item-detail {
    padding: 5px;
    min-height: 20px;
  }
  &._flex-item-title {
    font-size: 14px;
    letter-spacing: 1.1px;
  }
}