.container {

  &._nav {
    top: 0;
    width: 100%;
    z-index: 2020;
    position: fixed;
  }
  &._nav-container {
    height: 56px;
    display: flex;
    padding: 0 16px;
    overflow: hidden;
    position: relative;
    transition: all 1.1s ease-in-out;
    box-shadow: 0 2px #DADADA;
    justify-content: flex-start;

    &.-theme_day {
      background-color: #FFF;
    }
    &.-theme_night {
      background: linear-gradient(180deg,#111936,#285A7B);
      .btn._a {
        color: #FFF;
      }
      ._nav-burger-menu {
        background: url('../../public/svg/menu-burger-night.svg') no-repeat center center;
      }
    }
  }
  &._nav-icon-wrapper {
    z-index: 2;
  }
  &._nav-icon {
    width: 50px;
    height: 50px;
    background: url('../../public/img/nav_icon.png') no-repeat center center;
    background-size: 100% auto;
  }
  &._nav-burger-menu {
    width: 50px;
    cursor: pointer;
    flex-shrink: 0;
    background: url('../../public/svg/menu-burger.svg') no-repeat center center;
  }
  &._nav-search-container {
    width: 100%;
  }
  &._nav-personalize {
    flex-shrink: 0;
  }
  &._nav-animate-lines {
    top: 0;
    left: 0;
    width: 300px;
    height: 150px;
    contain: strict;
    position: absolute;
    transform: rotate(144deg) scale(0.8);
    transform-origin: 50% 40%;
  }
  &._nav-line {
    position: relative;
    overflow: hidden;
    transform-origin: left;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.9, 0.01, 0.82, 0.5);
    &:before {
      height: 9px;
      content: '';
      display: block;
      transform-origin: right;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.89, 0.01, 0.15, 1);
    }
  }
  &._nav-line-a {
    top: 100px;
    left: 0;
    animation-name: l-a;
    animation-delay: -1050ms;
    animation-duration: 5s;
    width: 150px;
    &:before {
      animation-name: l-a-b;
      background: linear-gradient(to left, #FFF, #0389ff, #0dd3ff);
    }
  }
  &._nav-line-b {
    top: 80px;
    left: 30px;
    animation-name: l-b;
    animation-delay: -2050ms;
    animation-duration: 5s;
    width: 150px;
    &:before {
      animation-name: l-a-b;
      background: linear-gradient(to left, #FFF, #0389FF, #0DD3FF);
    }
  }
  &._nav-line-c {
    top: 50px;
    left: 15px;
    animation-name: l-a;
    animation-delay: -3050ms;
    animation-duration: 5s;
    width: 100px;
    &:before {
      animation-name: l-a-b;
      background: linear-gradient(to left, #FFF, #0389FF, #0DD3FF);
    }
  }

  &._main {
    margin-top: 58px;
    //background: #FAFAFA;
  }
}

@keyframes l-a-b{
  0%{transform:scaleX(0)}
  13.53965%{transform:scaleX(1)}
  100%{transform:scaleX(1)}
}
@keyframes l-a{
  0%{transform:scale3d(1, 1, 1)}
  13.53965%{transform:scale3d(1, 1, 1)}
  32.88201%{transform:scale3d(0, 1, 1)}
  100%{transform:scale3d(0, 1, 1)}
}
@keyframes l-b{
  0%{transform:scale3d(1, 1, 1)}
  5.22244%{transform:scale3d(1, 1, 1)}
  9.47776%{transform:scale3d(0, 1, 1)}
  100%{transform:scale3d(0, 1, 1)}
}

.spinner-wrapper {
  &._block {
    margin: 0 auto;
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
  }
  &._spinner {
    width: 50px;
    height: 40px;
    font-size: 10px;
    text-align: center;
    > div {
      + div {
        margin-left: 2px;
      }
      width: 6px;
      height: 100%;
      display: inline-block;
      animation: sk-stretchdelay 1.2s infinite ease-in-out;
      background-color: #0DD3FF;
    }
    ._rect2 {
      animation-delay: -1.1s;
      background-color: #0389FF;
    }
    ._rect3 {
      animation-delay: -1.0s;
      background-color: #0DD3FF;
    }
    ._rect4 {
      animation-delay: -0.9s;
      background-color: #0389FF;
    }
    ._rect5 {
      animation-delay: -0.8s;
      background-color: #0DD3FF;
    }
  }
}

.spinner-wrapper {
  margin: 0 auto;
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 50px;
  height: 40px;
  font-size: 10px;
  text-align: center;
}

.spinner > div {
  + div {
    margin-left: 2px;
  }
  height: 100%;
  width: 6px;
  display: inline-block;
  background-color: #0DD3FF;

  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  animation-delay: -1.1s;
  background-color: #0389FF;
  -webkit-animation-delay: -1.1s;
}

.spinner .rect3 {
  background-color: #0DD3FF;
  animation-delay: -1.0s;
  -webkit-animation-delay: -1.0s;
}

.spinner .rect4 {
  background-color: #0389FF;
  animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
}

.spinner .rect5 {
  background-color: #0DD3FF;
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}